.pageCard {
    margin: 30px 0px 80px 0px;
    padding: 30px 0px 30px 0px;
}

.card_bottom {
    margin-bottom: 50px;
}

.update_card {
    margin: 30px 0px 30px 0px;
    padding: 30px 30px 30px 30px;
}

.main_card_footer {
    margin-top: 50px;
}