@import "./components/mainPage.css";
@import "./components/cards.css";

header {
    padding: 15px 0px 15px 0px;
    background-color: black;
}

#header_dropdown {
    margin-top: 10px;
}

footer {
    margin-top: 60px;
    margin-bottom: 50px;
}

.main_content {   
    padding: 0 20px;
    background-color: white;
}

h2 {
    padding-bottom: 25px;
    padding-top: 20px;
}

.task {
    margin-top: 15px;
}

.task_text {
    margin-top: 3px;
}

#filter {
    margin-bottom: 16px;
}

#page404_title {
    margin-top: 25px;
}

@media (max-width: 768px) {
    .text-sm-center {
        text-align: center;
    } 
}